alpha_vantage
beautifulsoup4
fastapi
flask
GoogleNews
keras
matplotlib
newspaper3k
nltk
numpy
openai
pandas
scikit-learn
seleniumbase
selenium
statsmodels
streamlit
tensorflow
textblob
uvicorn
undetected_chromedriver
webdriver-manager
yfinance

## docbot

langchain
openai
PyPDF2
faiss-cpu
tiktoken



